/*
 AACircuit.py
 2020-03-16 JvO

 Note that Gtk id's are not the same as CSS id's
 Source:  https://stackoverflow.com/questions/16740949/gtk-cssprovider-how-do-id-based-selectors-work-in-gtk3

*/

/* Color values:
   #f2f2d8 grid color
   #555555 inactive text
*/

/* message levels */
statusbar#info {
    background-color: #dfdfdf;
}
statusbar#warning {
    background-color: #ffcc00;
}
statusbar#error1 {
    background-color: #ff6060;
}
statusbar#error {
    color: #ffffff;
    background-color: #ff3300;
}

/* main window character buttons */
.char_buttons {
    font-size: 130%;
}

/* memo editing dialog */
.view#linenr text {
    background-color: #dfdfdf;
}
